@font-face {
    font-family: "Seaweed Script", cursive;
    src: url('/fonts/my-custom-font.woff2') format('woff2'),
         url('/fonts/my-custom-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Seaweed Script", cursive;
  }